@use '../../../Utils/responsive' as *;

.comf-layout {
 padding: 2em;
 display: flex;
 flex-direction: column;
 background-color: #489744;
 height: 100%;
 h2 {
  margin-top: 0.5em;
  font-size: 2.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
 }
 p {
  font-size: 1.6em;
  line-height: 1.4;
  margin-bottom: 2em;
 }
}

@include mobile {
 .comf-layout {
  height: 100%;
  h2 {
   font-size: 1.6em;
   padding-bottom: 2em;
  }
  p {
   font-size: 1.1em;
   line-height: 1.4;
  }
 }
}