@use '../../../Utils/responsive' as *;

.header-about {
  margin-top: 5rem;
  padding: 2em;
  z-index: -1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    display: none;
  }
}
.header-layout {
  z-index: 1;
  position: relative;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .header-text {    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
    h2 {
    width: 80%;

    }
  }
  img {
    border-radius: 5%;
    width: 60%;
    height: 500px;
    object-fit: cover;
  }
  h2 {
    position: relative;
    right: 50px;
    font-weight: 300;
    font-size: 1.4em;
    width: 40%;
    color: #000000;
  }
}

@include mobile {
.header-about {
  padding: 0;
  .header-layout {
    margin-top: clamp(10px,2vw,50px);
    z-index: 5;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      border-radius: 5%;
    width: 90%;
    height: 200px;
    object-fit: cover;
  }
  .header-text {
     display: flex;
     flex-direction: column;
     padding-top: 2em;
   }
  h2 {
    
    position: relative;
    left: 0;
    font-weight: 300;
    font-size: 1em;
    width: 95%;
    color: #000000;
   }
  }
 }
}

@include tablet {
  .header-about {
  .header-layout {
    margin-top: clamp(15px,2vw,50px);
    display: flex;
    flex-direction: column;
    img {
      width: 90%;
      height: 400px;
    }
    .header-text {
      display: flex;
      flex-direction: column;
      padding-top: 2em;
    }
   h2 {
     position: relative;
     left: 0;
     font-weight: 300;
     font-size: 1.2em;
     width: 95%;
     color: #000000;
      }
    }
  }
}

@include largeDesktop {
  .header-about {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-layout {
    img {
      border-radius: 5%;
      width: 45%;
      height: 1000px;
      object-fit: cover;
    }
    h2 {
      position: relative;
      right: 50px;
      font-weight: 300;
      font-size: 2.9em;
      width: 40%;
      color: #000000;
    }
  }
}
