@use '../../../Utils/responsive' as *;

.header-about {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    position: relative;
    bottom: 210px;
    right: 11em;
    font-size: 2.2em;
    font-weight: 500;
    color: #000000;
    margin-bottom: 2em;
  }
}
.header-layout {
  position: relative;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  img {
    border-radius: 5%;
    width: 45%;
    height: 500px;
    object-fit: cover;
  }
  h2 {
    position: relative;
    right: 50px;
    font-weight: 300;
    font-size: 1.4em;
    width: 40%;
    color: #000000;
  }
}

@include mobile {


.header-about {
  position: relative;
  top: 3.8em;
  height: 100%;
}
.header-layout {
  margin-bottom: -4em;
  position: relative;
  top: -7em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  img {
    border-radius: 5%;
    width: 90%;
    height: 200px;
    object-fit: cover;
  }
  h2 {
    margin: 1em;
    position: relative;
    left: 0;
    font-weight: 300;
    font-size: 1em;
    width: 90%;
    color: #000000;
  }
 }
}

@include tablet {
  .header-layout {
    display: flex;
    flex-direction: column;
    img {
      width: 90%;
      height: 400px;
    }
    h2 {
      margin-top: 2em;
      position: relative;
      left: 0;
      width: 90%;
      display: flex;
      font-size: 1.4rem;
      
    }
  }
}
