@use "../../../Utils/responsive" as *;


  .header-home {
    .layout-header {
      height: 650px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 1.3;
    }
    .front-title {
      position: relative;
      left: 30px;
      display: flex;
      flex-direction: row;
      gap: 60px;
      h1, h2 {
        font-weight: 500;
        font-size: 5vw;
        position: relative;
        left: 30px;
        line-height: 1.1;
      }
      p {
        font-size: 5vw;
      }
    }
    h2 {
      font-size: 4.4vw;
    }
    h1,h2 {
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
        1px 1px 0 black;
    }
  }

 
@include mobile {
  .header-home .layout-header {
    width: 100%;
    height: 40dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    position: relative;
    .front-title {
      position: relative;
      left: 10px;
      display: flex;
    flex-direction: row;
    gap: 60px;
    h1 {
      font-weight: 500;
      font-size: 6vw;
      position: relative;
      left: 30px;
      line-height: 1.1;
    }
    p {
      position: relative;
      right: 30px;
      bottom: 0;
      font-size: 4vw;
    }
  }
  h2 {
    font-size: 5vw;
    }
  }
}

@include tablet {
  .layout-header {
    .front-title, h2 {
      position: relative;
      bottom: 80px;
    }
  }
}

@include largeDesktop {
  .header-home {
  .layout-header {
    height: 1700px;
    z-index: 2;
  }
  .front-title {
    position: relative;
    left: 30px;
    gap: 60px;
    h1, h2 {
      font-size: 6vw;
      position: relative;
      left: 40px;
    }
    p {
      font-size: 5vw;
    }
  }
  h2 {
    font-size: 4.4vw;
  }
}
}
