@use "../../../Utils/responsive" as *;


.swiper {
  background-color: #ffffff;
  width: 80%;
  height: 500px;
  padding-bottom: 4em;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.swiper-pagination-bullet {
  background: #ffffff;
  width: 14px;
  height: 14px;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #489744;
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffffff !important;
  font-size: 20px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #489744 !important;
}

@include mobile {
  .swiper {
    width: 90%;
    height: auto;
    margin-top: 1rem;
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }
  }
  .swiper-button-prev::after, 
  .swiper-button-next::after {
    font-size: 40px;
    transform: translateY(-70%);
  }
}

@include tablet {
  .swiper {
    height: 100%;
    img {
      height: 300px;
    }
  }

  .swiper-button-prev::after, 
  .swiper-button-next::after {
    font-size: 4rem;
    transform: translateY(-50%); 
  }

  .swiper-button-prev:active,
.swiper-button-next:active {
  color: #489744 !important;
}
}
