@use "../../../Utils/responsive" as *;

/* Style général du carrousel */
.swiper {
  width: 80%;
  height: 500px;
  margin-bottom: 4em;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.swiper-pagination-bullet {
  background: #ffffff;
  width: 14px;
  height: 14px;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #489744;
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffffff !important;
  font-size: 20px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #489744 !important;
}

@include mobile {
  .swiper {
    width: 90%;
    height: auto;
    margin-bottom: 2rem;
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9; /* Ratio standard */
      object-fit: cover;
    }
  }
  .swiper-button-prev::after, 
  .swiper-button-next::after {
    font-size: 20px; /* Taille de l'icône */
  }
}

@include tablet {
  .swiper {
    height: 100%;
    img {
      height: 80dvh;
    }
  }

  .swiper-button-prev::after, 
  .swiper-button-next::after {
    font-size: 60px; /* Taille de l'icône */
  }
}
