@use "../../../Utils/responsive" as *;

.header-l {
  position: relative;
  top: 200px;
  height: 30vh;
  .layout-header2 {
    position: relative;
    bottom: 100px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.3;
    h1 {
      font-size: 3.7em;
    }
    h2 {
      font-size: 3em;
    }
  }
}

@include mobile {
  .header-l {
    height: 190px;
    .layout-header2 {
      position: relative;
      bottom: 6em;
      h1 {
        font-size: 1.4rem;
      }
      h2 {
        padding-left: 0.5em;
        font-size: 1.3rem;
      }
    }
  }
}

@include tablet {
  .header-l {
    .layout-header2 {
      position: relative;
      top: -3em;
    }
  }
}

@include largeDesktop {
  .header-l {
    position: relative;
    top: 250px;
    height: 40vh;
    .layout-header2 {
      height: 100%;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 1.3;
      h1 {
        font-size: 8em;
      }
      h2 {
        font-size: 6em;
      }
    }
  }
}