@use '../../../Utils/responsive' as *;

.layout-story {
  padding: 2em;
  margin-top: 3em;
  background-color: #eaeaea;
  color: #000000;
  height: auto;
  h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
    margin-bottom: 2em;
    margin-top: 1em;
    font-weight: 300;
  }
  h3 {
    font-weight: 300;
    font-size: 1.6em;
    line-height: 1.4;
    margin-bottom: 1em;
  }
}

@include mobile {
  .layout-story {
    padding: 1em;
    height: 100%;
    h2 {
      padding-right: 1.5em;
      padding-top: 1em;
      font-size: 1.3em;
      font-weight: 300;
    }
    h3 {
      padding-bottom: 1em;
      font-size: 01em;
    }
  }
}

@include largeDesktop {
  .layout-story {
    h2 {
      font-size: 4em;
      margin-top: 1em;

    }
    h3 {
      font-size: 3em;
      margin-bottom: 2em;
    }
  }
}
