@use "../../Utils/responsive" as *;

footer {
  border-top: 2px solid black;
  padding: 1em;
  background-color: #489744;
  position: relative;
  height: 250px;
  h3 {
    font-size: 1.8em;
    margin-top: 1em;
    margin-bottom: 1.6em;
  }
  .layout-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
  }
  .footer-content1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .contact-footer {
      font-size: 1.4em;
      margin-bottom: 1em;
    }
    p {
      font-size: 1.2em;
    }
  }
  .footer-content2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title-mp {
      margin-bottom: 1em;
      font-size: 1.4rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

@include mobile {
  body footer {
    width: 100%;
    margin-top: auto;
    padding: 0;
    height: 100%; 

    h3 {
      position: relative;
      left: 0.5em;
     width: 90%;
      font-size: 1.3em;
      margin-bottom: 2em;
    }
 
    .layout-footer {
      height: 100%;
      position: relative;
      left: 0.5em;
      padding-bottom: 1em;
      display: flex;
      flex-direction: column;
      width: 90%;
      align-items: flex-start;
      gap: 50px !important;
    }

    .footer-content1 {
      display: flex;
      flex-direction: column;

      .contact-footer {
        width: 60%;
        font-size: 1.1em;
      }

      p {
        font-size: 1em;
      }
    }

    .footer-content2 {
      display: flex;
      flex-direction: column;
      font-size: 1em;
      gap: 10px;
      .title-mp {
        font-size: 0.9rem;
        margin-bottom: 1em;
      }
      p {
        font-size: 1em;
      }
    }
  }
}

@include tablet {
  footer {
    height: 100%;
  .layout-footer {
    .title-mp {
      font-size: 1.1rem;
    }
  }
  }
  
}

@include largeDesktop {
  footer {
    height: 450px;
    h3 {
      font-size: 3em;
      margin-top: 1em;
      margin-bottom: 1.6em;
    }
    .footer-content1 {
      .contact-footer {
        font-size: 3em;
        margin-bottom: 1em;
      }
      p {
        font-size: 2.7em;
      }
    }
    .footer-content2 {
      display: flex;
      flex-direction: column;
      font-size: 2.5em;
      gap: 10px;
      h4 {
        margin-bottom: 1.2em;
      }
    }
  }
}


