@use '../../../Utils/responsive' as *;

.background-3 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-position: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .wish-layout {
    z-index: 2;
    padding-bottom: 8em;
   h2 {
    font-weight: 500;
    margin: 2em;
    font-size: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   }
  }
  p {
   margin: 2em;
   font-size: 2.5em;
   font-weight: 300;
  }
}

@include mobile {
  .background-3 {
    height: 350px;
    img {
      aspect-ratio: 19 / 9;
    }
    .wish-layout {
     h2 {
      font-size: 1.5em;
     }
    }
    p {
     position: relative;
     top: 0;
     margin: 2em;
     font-size: 1em;
     width: 80%;
    }
  } 
}

@include tablet {
  .background-3 {
    height: 500px;
    img {
      aspect-ratio: 19 / 9;
    }
    .wish-layout {
     h2 {
      font-size: 2.5em;
     }
    }
    p {
     margin: 3em;
     font-size: 1.8em;
     width: 80%;
    }
  } 
}

@include largeDesktop {
  .background-3 {
    .wish-layout {
      z-index: 2;
     h2 {
      font-weight: 500;
      margin-top: 1em;
      font-size: 8em;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
     }
    }
    p {
     padding-bottom: 2em;
     font-size: 5em;
    }
  }
  
}

