@use "../../../Utils/responsive" as *;

.layout-loc {
  background-color: #ffffff;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 padding: 2em;
 margin-top: 3em;
 padding-bottom: 7rem;
 color: #000000;
 .picture-layout img {
  width: 100%;
  height: auto;
 }
 }
 .text-loc {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.3em;
  padding-top: 4rem;
  h2 {
   font-weight: 400;
   margin-bottom: 1em;
  }
  .xt1 {
   margin-top: 0.5em;
   margin-bottom: 2.5em;
  }
  .xt2,
  .xt3 {
   position: relative;
   right: 20px;
  }
 }


@include mobile {
 .layout-loc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #000000;
  .picture-layout {
   display: flex;
   justify-content: center;
   img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    max-width: 800px; 
    max-height: 500px;
    object-fit: cover;
  }
  }
  .text-loc {
   margin-top: 1em;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   font-size: 1em;
   h2 {
    font-weight: 400;
    margin-bottom: 1em;
   }
   .xt2,
   .xt3 {
    position: relative;
    right: 20px;
    margin-top: 1em;
   }
  }
 }
}

@include tablet {
 .layout-loc {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 2em;
  padding-bottom: 4rem;
  .picture-layout {
    display: flex;
    justify-content: center;
   img {
    width: 100%; 
    height: auto;
    aspect-ratio: 16 / 9;
    max-width: 700px;
    max-height: 350px; 
    object-fit: cover;
   }
  }
 }
 .text-loc {
  padding: 1em;
  width: 95%;
   font-size: 1.4em;
  }
 ul .xt2 {
  font-size: 1em;
  padding-bottom: 1em;
 }
}