.layout-loc {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 padding: 2em;
 margin-top: 3em;
 margin-bottom: 3em;
 color: #000000;
 .picture-layout img {
  width: 500px;
  height: 520px;
 }
 .text-loc {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.3em;
  h2 {
   font-weight: 400;
   margin-bottom: 1em;
  }
  .xt1 {
   margin-top: 0.5em;
   margin-bottom: 2.5em;
  }
  .xt2,
  .xt3 {
   position: relative;
   right: 20px;
  }
 }
}