@use "../../Utils/responsive" as *;

.background-1 {
  width: 100%;
  max-height: 800px
}
.background-1 img {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 800px;
  object-fit: cover;
  background-repeat: no-repeat;
}

main {
  flex-grow: 1;
  width: 100%;
  height: auto;
}

@include mobile {
  .background-1 {
    height: 40dvh;
    img {
      width: 100%;
      height: 40dvh;
    }
  }
  main {
    flex-grow: 1;
    width: 100%;
    height: auto;
  }
}

@include tablet {
  .background-1,
  .background-1 img {
    height: 600px;
  }
}

@include largeDesktop {
  .background-1 {
    width: 100%;
    height: 1800px;
  }
  .background-1 img {
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 1800px;
    object-fit: cover;
    background-repeat: no-repeat;
  }
  
  main {
    flex-grow: 1;
    width: 100%;
    height: auto;
  }
}