#nav {
 position: fixed;
 left: 300px;
 top: -60px;
 z-index: 1000; 
}
.layout-nav {
  width: 850px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #489744;
  gap: 100px;
  border: 1px solid #000000;
  border-radius: 50px;
  padding: 1em;
  font-size: 1.6em;
}

.layout-nav {
  transition: transform 1.5s ease;
  transform: translateY(0);
 }
 .layout-nav:hover,
 .layout-nav.active {
  transform: translateY(70px);
 }

