@use "../../Utils/responsive" as *;

#nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: -60px;
  z-index: 9999; 
 }
 .layout-nav {
   width: 850px;
   height: 35px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: #489744;
   gap: 100px;
   border: 1px solid #000000;
   border-radius: 50px;
   padding: 1em;
   font-size: 1.6em;
 }
 
 .layout-nav {
   transition: transform 1.5s ease;
   transform: translateY(0);
  }
  .layout-nav:hover,
  .layout-nav.active {
   transform: translateY(70px);
  }

  .layout-burger h1 {
    display: none;
  }

  .burger-menu {
    display: none;
    font-size: 36px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
 
 .mobile-menu {
   display: none;
 }

@include mobile {

#nav {
  display: none;
}

.hidden {
  display: none;
}


.layout-burger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: clamp(40px,6vh,220px);
  width: 100%;
  z-index: 99999;
  background-color: #489744;
  border-bottom: 2px solid black;
  h1 {
    font-size: 0.8rem;
    margin-right: -2em;
  }
  .burger-menu {
  display: none;
  font-size: clamp(1.4rem,6vw,2rem);
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  position: absolute;
  left: -15px;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  z-index: 9999;
  right: 100%;
  width: 50%;
  height: 100vh;
  background-color: #489744;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: right 0.3s ease-in-out;
}

.mobile-menu.open {
  right: 0;
}

.layout-sublink {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 5em;
}

.mobile-menu .line {
  margin-bottom: 3em;
  border: 1px solid white;
  width: 60%;
}

.mobile-menu h4 {
  margin: 20px 0;
  position: relative;
  right: -1px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.mobile-menu h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
}
}

@include tablet {
  #nav {
    display: none;
  }
  .layout-burger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
    position: fixed;
    left: 0;
    top: 0;
    height: 6vh;
    width: 100%;
    z-index: 99999;
    background-color: #489744;
  .burger-menu {
    z-index: 99999;
    display: none;
    font-size: 36px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    position: absolute;
    left:-1em;
    font-size: 2.5rem;
    margin: 10px;
    }

    
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    z-index: 9999;
    right: 100%;
    width: 20%;
    height: 100vh;
    background-color: #489744;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease-in-out;
  }
  
  .mobile-menu.open {
    right: 0;
  }
  .layout-sublink {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10em;
  }
  
  .mobile-menu .line {
    margin-bottom: 3em;
    position: relative;
    bottom: 3rem;
    border: 1px solid white;
    width: 60%;
  }
  
  .mobile-menu h4 {
    margin: 30px 0;
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  
  .mobile-menu h3 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 1em;
  }
}

@include largeDesktop {
  #nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: -80px;
    z-index: 9999; 
   }
  .layout-nav {
    width: 110%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #489744;
    gap: 100px;
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 1em;
    font-size: 2.5em;
  }
  
  .layout-nav {
    transition: transform 1.5s ease;
    transform: translateY(0);
   }
   .layout-nav:hover,
   .layout-nav.active {
    transform: translateY(70px);
   }
 
   .layout-burger h1 {
     display: none;
   }
 
   .burger-menu {
     display: none;
     font-size: 36px;
     background: none;
     border: none;
     color: white;
     cursor: pointer;
   }
   
  
  .mobile-menu {
    display: none;
  }
}

